$bg-app: #2e5849;
$bg-input: #1c382f;
$border-input: #183129;
$shadow-input: 25px rgba(0,0,0,.1);
$shadow-input-focus: 25px rgba(0,0,0,.5);
$text-input: #fff;
$placeholder-input: rgba(255, 255, 255, .5);
$bg-task: #eee;
$border-task: #ccc;
